/**
 * {{ pascalCase name }}
 * {{ description }}
 */
import * as React from 'react'
{{#if i18n}}
import { FormattedMessage } from 'react-intl'
import messages from './messages'
{{/if}}

interface Props {
{{#if props.length}}
  {{#each props}}
  {{ camelCase this.name }}: {{{ this.type }}}
  {{/each}}
{{/if}}
  className?: string
}

const {{pascalCase name}}: React.StatelessComponent<Props> = props => {
  return (
    <div className={props.className}>
      {{#if i18n}}
      <FormattedMessage {...messages.header} />
      {{else}}
      hello {{ pascalCase name }}
      {{/if}}
    </div>
  )
}

{{#if defaultProps.length }}
{{pascalCase name}}.defaultProps = {
  {{#each defaultProps }}
  {{this.name}}: {{{this.default}}},
  {{/each}}
}
{{/if}}

export default {{ pascalCase name }}